{% extends 'base.html.twig' %}

{% block title %}{{parent()}}{{ 'home.home'|trans() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <div class="image-wrapper">
            <div class="background-image-container"></div>

            <div class="image-overlay">
                <!-- Contenu à superposer sur l'image -->
            </div>
        </div>
    </div>
{% endblock %}
