{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Home{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('styles/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid p-0">
        <div class="image-wrapper">
            <img src="{{ asset('images/home_background.webp') }}" class="img-fluid d-block w-100" alt="Image d'arrière-plan">

            <div class="image-overlay">
                <!-- Contenu à superposer sur l'image -->
            </div>
        </div>
    </div>
{% endblock %}
