.bg-gite-image {
    height: 60vh;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.gite-name {
    font-family: "ivymode", serif;
    font-weight: 600;
    font-size: 2.5rem;
    color: #FFFFFF;
    margin: 0; /* Supprime les marges par défaut du h2 */
}


/* equipement */
.equipment-list .equipment-item .equipment-icon {
    filter: brightness(0) saturate(100%);
}

.equipment-list .equipment-item .equipment-title {
    color: var(--color-background-2);
}

.reservation .reservation-color {
    color: var(--color-background-2);
}

/* images */
.object-fit-cover {
    object-fit: cover;
}

.hover-scale {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.hover-scale:hover {
    transform: scale(1.05);
}

/* Grille 2x2 */
.grid-2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem; /* Équivalent à gap-3 de Bootstrap */
}


/* Responsive heights */
@media (min-width: 768px) {
    .gallery-height-sm { height: 350px !important; }
    .gallery-height-md { height: 400px !important; }
    .gallery-height-lg { height: 500px !important; }
}
