.next-availability {
    margin-top: -100px;
    margin-bottom: 50px;
    z-index: 10;
}

.hero-block {
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    z-index: 10;
    overflow: hidden;
}

.hero-left {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-left::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5rem;
    right: 5rem;
    height: 3px;
    background-color: #BCB893;
}

.hero-right {
    background-color: #BCB893;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text {
    font-size: 2rem;
    color: #707070;
    line-height: 1.3;
    text-align: center;
    font-family: "darkmode-on", sans-serif;
}

.availability-info {
    width: 100%;
}

.availability-info .small, .hero-right, .availability-info a{
    color: #fff !important;
}

.date-display {
    font-family: "ivymode", serif;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff !important;
}

.btn-custom-border {
    position: relative;
    border: none !important;
    background: transparent !important;
    padding: 0.75rem 1.5rem;
}

.btn-custom-border::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    right: 0.5rem;
    height: 2px;
    background-color: #fff;
}

.btn-custom-border:hover {
    color: #474329 !important;
}

.btn-custom-border:hover::after {
    background-color: #474329;
}

.background-image-container {
    background-image: url('../images/home_background.webp');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh; /* Ajustez cette hauteur selon les besoins */
    display: block;
    margin: 0;
    padding: 0;
}

/* GITES */

.gite .card-img-wrapper {
    height: 300px; /* Hauteur fixe */
    width: 100%;
}

.gite .card-img-wrapper .card-img {
    height: 100% !important;
    width: 100% !important;
    object-fit: cover !important;
}

.gite a {
    color: #000000;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom-color: #474329 !important;
    border-bottom-width: 3px !important;
}

.gite header {
    background: transparent !important;
}

/** SERVICES */

.service header {
    background: transparent !important;
}

.service header h3 {
    margin-bottom: 8px !important;
}

.service hr {
    width: 25%;
    border-width: 4px;
    border-color: #474329;
    margin: 8px 0;
}

.service .service-description .card-text {
    height: 12rem;
    overflow: hidden;
}

.services {
    background-color: #e2dfd6;
}

.services .service .card {
    border: none;
    background-color: #e2dfd6;
}

/** ACCESS */

.access .bg-image-container {
    background-image: url('../images/access.webp');
    background-size: cover;
    background-position: center;
    min-height: 400px;
}

.access-icon {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 50px 50px;
    padding-left: 60px;
    min-height: 60px;
    display: flex;
    align-items: center;
}

.access-icon.train {
    background-image: url('../images/icons/train.svg');
}

.access-icon.car {
    background-image: url('../images/icons/car.svg');
}

.access-icon.parking {
    background-image: url('../images/icons/parking.svg');
}

/** Contacta du bas de page */

.contact-bottom a {
    color: #000000;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom-color: #474329 !important;
    border-bottom-width: 3px !important;
}

.contact-bottom h2 {
    margin-bottom: 16px;
}
